/* ==========================================================================
   Custom styles
   ========================================================================== */

/* Chrome Frame Prompt */
.chromeframe { display: block; position: absolute; top: 40px; z-index: 100; width: 100%; margin: 0; text-align: center; font-size: 0.9em; background: #FFFF07; color: black; padding: 1px; }

/* Helper Classes */
.textcenter { text-align: center; }
.textleft { text-align: left; }
.textright { text-align: right; }
.main-row { padding-top: 15px; }

/* Header */
.jumbotron {
    position: relative;
    padding: 60px 0 0;
    color: white;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #020031;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6D3353));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}
.jumbotron h1 { font-size: 40px; }
.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
    opacity: .4;
}
.navbar .brand { display: none; }
.navbar-fixed-top { box-shadow: 0 3px 6px black; }

/* map elements */
#map {
    height: 500px;
    box-shadow: 0 8px 16px -8px #222;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
}

/* jQuery UI autocomplete tweaks */
.ui-autocomplete { overflow: auto; overflow-y: auto; overflow-x: hidden; font-size: 0.9em; font-weight: normal; max-height: 400px; box-shadow: 2px 2px 4px #666; }
.ui-autocomplete-category { font-weight: bold; padding: 0 4px; line-height: 1.5; font-variant: small-caps; font-size: 14px; }
.ui-autocomplete .ui-menu-item { padding-left: 10px }

/* tweaks to responsive design behavior */
@media (max-width: 979px) {
    .navbar-fixed-top { margin-bottom: 0; }
    .jumbotron { padding: 20px 0 5px; }
}
@media (max-width: 767px) {
    body { padding: 0; }
    .navbar, .container { padding-left: 10px; padding-right: 10px; }
    .navbar .brand { display: block; padding-left: 20px; }
    .jumbotron { display: none; }
}

/* Print Handling */
@media print {
    .btn-navbar { display: none !important; }
    #map { box-shadow: none;  }
}











